@model UserModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="col-sm-12">
    <h2>Reģistrēšanās</h2>
</div>

@Html.ValidationSummary()

<form class="form-horizontal" action="SignUp" method="post">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">E-pasts</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Parole</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputRepeatPassword3" class="col-sm-2 control-label">Parole Atkārtoti</label>
        <div class="col-sm-10">
            <input asp-for="PasswordRepeat" class="form-control" id="inputRepeatPassword3" placeholder="Repeat Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Reģistrēties</button>
        </div>
    </div>
</form>

